extends layout

block card-contents
  div.row
    div.col-md-6.col-12
      img.boosterImage(src="/images/Alliances.jpg" alt="Alliances Booster")
    div.col-md-6.col-12
      img.boosterImage(src="/images/Antiquities.jpg" alt="Antiquities Booster")
    div.col-md-6.col-12
      img.boosterImage(src="/images/Arabian Nights.jpg" alt="Arabian Nights Booster")
    div.col-md-6.col-12
      img.boosterImage(src="/images/Chronicles.jpg" alt="Chronicles Booster")
    div.col-md-6.col-12
      img.boosterImage(src="/images/Coldsnap.jpg" alt="Coldsnap Booster")
    div.col-md-6.col-12
      img.boosterImage(src="/images/Fallen Empires.jpg" alt="Fallen Empires Booster")
    div.col-md-6.col-12
      img.boosterImage(src="/images/Homelands.jpg" alt="Homelands Booster")
    div.col-md-6.col-12
      img.boosterImage(src="/images/Ice Age.jpg" alt="Ice Age Booster")
    div.col-md-6.col-12
      img.boosterImage(src="/images/Legends.jpg" alt="Legends Booster")
    div.col-md-6.col-12
      img.boosterImage(src="/images/Revised.jpg" alt="Revised Booster")
    div.col-md-6.col-12
      img.boosterImage(src="/images/Scryings.png" alt="Scryings Booster")
    div.col-md-6.col-12
      img.boosterImage(src="/images/The Dark.jpg" alt="The Dark Booster")
    div.col-md-6.col-12
      img.boosterImage(src="/images/Unlimited.jpg" alt="Unlimited Booster")
