extends layout

block card-contents
  p.card-text What is This?
  p Old School Magic is a casual Magic format surrounding older sets with a limited card pool. While there are a handful of variations, Old School Magic games typically revolve around cards from 1993-1996 (but some groups will include any cards from the first 10 years of MtG).
  p This website is a tool to help the old school community draft "sealed" boosters by assembling virtual packs (#[a(href="/pack-builder") Pack Builder]) from a statistically accurate database containing all sets from Alliance, Antiquities, Arabian Nights, Chronicles, Coldsnap, Fallen Empires, Homelands, Ice Age, Legends, Revised, Scryings, The Dark, and Unlimited.
  p We are still refining the API and developing new functionality, so check back soon!
