extends layout

block card-contents
  div.row
    div.col-12
      a(href="https://52weekbeta.blogspot.com/")
        button.btn.mr-2.mb-2.btn-primary(type="button")
          span.btn-text 52-Week Beta

      a(href="http://alltingsconsidered.com/")
        button.btn.mr-2.mb-2.btn-primary(type="button")
          span.btn-text All Tings Considered

      a(href="https://alphabetaoldschool.blogspot.com/")
        button.btn.mr-2.mb-2.btn-primary(type="button")
          span.btn-text Alpha/Beta Oldschool

      a(href="https://argivian.wordpress.com/")
        button.btn.mr-2.mb-2.btn-primary(type="button")
          span.btn-text Argivian Restoration

      a(href="https://baltimoreoldschoolmtg.wordpress.com/")
        button.btn.mr-2.mb-2.btn-primary(type="button")
          span.btn-text Baltimore Old School Mtg

      a(href="https://beastsofthebay.com/")
        button.btn.mr-2.mb-2.btn-primary(type="button")
          span.btn-text Beasts of the Bay

      a(href="http://brothersoffirelondon.blogspot.no")
        button.btn.mr-2.mb-2.btn-primary(type="button")
          span.btn-text Brothers of Fire UK blog

      a(href="https://deepspawners.com/")
        button.btn.mr-2.mb-2.btn-primary(type="button")
          span.btn-text Deep Spawners

      a(href="https://endofturndrawacard.wordpress.com/")
        button.btn.mr-2.mb-2.btn-primary(type="button")
          span.btn-text End of turn, draw a card

      a(href="http://www.eternalcentral.com/oldschool/")
        button.btn.mr-2.mb-2.btn-primary(type="button")
          span.btn-text Eternal Central Old School

      a(href="http://fishliveroilcup.eu/")
        button.btn.mr-2.mb-2.btn-primary(type="button")
          span.btn-text Fishliver Oil Cup

      a(href="http://oldmtg-france.com/")
        button.btn.mr-2.mb-2.btn-primary(type="button")
          span.btn-text French Boars

      a(href="http://geocitiesofbrass.com/")
        button.btn.mr-2.mb-2.btn-primary(type="button")
          span.btn-text Geocities of Brass

      a(href="https://gunnarsonbag.blogspot.com")
        button.btn.mr-2.mb-2.btn-primary(type="button")
          span.btn-text Gunnarson's Bag

      a(href="https://ligaoldschoolmadrid.wordpress.com/")
        button.btn.mr-2.mb-2.btn-primary(type="button")
          span.btn-text Liga Madrid

      a(href="https://lordsofthepit.com/")
        button.btn.mr-2.mb-2.btn-primary(type="button")
          span.btn-text Lords of the Pit

      a(href="https://mtgunderground.wordpress.com/")
        button.btn.mr-2.mb-2.btn-primary(type="button")
          span.btn-text Mtg Underground

      a(href="https://musiccityoldschoolmtg.wordpress.com/")
        button.btn.mr-2.mb-2.btn-primary(type="button")
          span.btn-text Music City Old School Mtg

      a(href="http://www.n00bcon.com")
        button.btn.mr-2.mb-2.btn-primary(type="button")
          span.btn-text n00bcon homepage

      a(href="https://sentineloldschoolmtg.wordpress.com/")
        button.btn.mr-2.mb-2.btn-primary(type="button")
          span.btn-text New England Old School

      a(href="https://oldschoolatgencon.com")
        button.btn.mr-2.mb-2.btn-primary(type="button")
          span.btn-text Old School at Gencon

      a(href="https://tmikonen.github.io/quantitatively/")
        button.btn.mr-2.mb-2.btn-primary(type="button")
          span.btn-text Quantitatively Old School

      a(href="https://readytorole.com/category/collectibletrading-card-games/")
        button.btn.mr-2.mb-2.btn-primary(type="button")
          span.btn-text Ready to Role

      a(href="http://www.sistersoftheflame.com/index.html")
        button.btn.mr-2.mb-2.btn-primary(type="button")
          span.btn-text Sisters of the Flame

      a(href="http://stockholminabottle.com/")
        button.btn.mr-2.mb-2.btn-primary(type="button")
          span.btn-text Stockholm in a Bottle

      a(href="https://strictlyaveragemtg.com/category/old-school/")
        button.btn.mr-2.mb-2.btn-primary(type="button")
          span.btn-text Strictly Average Mtg

      a(href="https://sentineloldschoolmtg.wordpress.com")
        button.btn.mr-2.mb-2.btn-primary(type="button")
          span.btn-text The Sentinel

      a(href="http://fabiensanglard.net/mtg_93-94_Toronto/index.php")
        button.btn.mr-2.mb-2.btn-primary(type="button")
          span.btn-text Toronto 93/94

      a(href="http://understandingancestralrecall.blogspot.no/")
        button.btn.mr-2.mb-2.btn-primary(type="button")
          span.btn-text Understanding Ancestral Recall

      a(href="https://mtgunlimitedadventures.blogspot.com/")
        button.btn.mr-2.mb-2.btn-primary(type="button")
          span.btn-text Unlimited Adventures

      a(href="https://urborgbuffet.wordpress.com/")
        button.btn.mr-2.mb-2.btn-primary(type="button")
          span.btn-text Urborg Buffet

      a(href="http://www.vintagemagic.com/blog/?tagid=176")
        button.btn.mr-2.mb-2.btn-primary(type="button")
          span.btn-text Vintage Magic

      a(href="http://www.wak-wak.se/")
        button.btn.mr-2.mb-2.btn-primary(type="button")
          span.btn-text Wak-Wak

      a(href="https://wizardstower.wordpress.com/")
        button.btn.mr-2.mb-2.btn-primary(type="button")
          span.btn-text Wizard's Tower
