body {
  background-color: #008081 !important;
}

.mainWindow__navBar {
  margin-top: 10vh;
}

.card-body {
  text-align: center;
}

.underConstruction {
  margin: 15px;
}

.footerText {
  font-size: 0.5em;
  margin-top: 25px;
}

.packBuilderForm {
  font-size: 14px;
}

@media (max-width: 668px) {

  .packBuilderForm {
    font-size: 12px;
  }

}

.packBuilderInput, #submit {
  margin: 15px;
}

.packBuilderInput .label {
  margin-right: 15px;
}

.packListTable {
  font-size: 0.6em;
  margin: 15px;
  text-align: left;
  width: 100%;
}

.packListTable td {
  padding: 5px;
}

@media(max-width: 668px) {

  .packListTable {
    margin: 0;
  }

}

.boosterImage {
  margin: 15px;
  max-height: 300px;
}

@media(max-width: 668px) {

  .mainWindow__navBar {
    margin-top: 50px;
  }

}

@media(max-width: 668px) {

  .navbar {
    height: auto;
  }

  .navbar-nav {
    flex-flow: row wrap;
  }

  .navbar li.nav-item {
    flex: 1 0 calc(30.333%);
  }

  .time.text-center {
    margin-top: 10px;
  }

}

.downloadLinkWrapper {
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.packList * {
  font-size: 10px;
  list-style: none;
}

.packList>ul>li {
  font-weight: 700;
}
